/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End reset */
/* Start Header */

/*
   * {
    scrollbar-width: auto;
    scrollbar-color: rgb(25,25,25,1) rgb(14,14,14,1);
  }
  
  *::-webkit-scrollbar {
    width: 14px;
  }
  *::-webkit-scrollbar-track {
    background: rgb(25,25,25,1);
  }
  *::-webkit-scrollbar-thumb {
    background-color: rgb(14,14,14,1);
    border-radius: 20px;
    border: 2px solid rgb(25,25,25,1);
  }*/

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: darkgrey;
}

a:hover {
    text-decoration: none;
    color: purple;
}

a:active {
    color: purple;
}

#body {
    background-color: white;
}

#content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eeeed9;
}

/*#content::before {    
    content: "";
    background-image:url('Medforcepurpledark.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.1;
}*/
/*Start Top Bar*/

#top-nav {
    /*z-index: 2;
    position: fixed;*/
    height: 120px;
    width: 100vw;
    background-color: #66229C;
    background-color: #C97AFE;
    background-color: #47126F;
    background: linear-gradient(40deg, #C97AFE 0%, #FAF2B5 300px, #47126F 90%, #47126F 100%);
    border-bottom: 1px solid #F0D200;
}

#header-title {
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 62px;
    
    
    font-family: 'Soloist Halftone 2';
    
    font-family: 'Soloist Academy';
    font-family: 'Soloist Laser';
    font-family: 'Soloist';
    /*text-shadow: -2px 2px rgb(223, 145, 0);*/
    text-shadow: -3px 3px #705030;
    text-shadow: -6px 1px #3cc6d8;
    text-shadow: none;
    text-shadow: -1px 1px #564175;
    color: #FFFF01;
    color: #F0D200;
    padding-left: 38px;
    line-height: 92px;
}

#subtitle {
    font-family: 'Soloist Halftone';
    text-shadow: -1px 1px #303090;
    text-shadow: none;
    text-shadow: -1px 1px #564175;
    text-shadow: -1px -1px #FAF2B5;
    color: #3cc6d8;
    color: #FCCC01;
    color: #eeeed9;
    color: #FAF2B5;
    color: #E282FF;
    color: #47126F;
    font-size: 20px;
    padding-left: 30px;
    line-height: 0px;
}

/*End Top Bar
Start Content*/

#main-content {
    position: absolute;
    top: 128px;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px 0 20px;
}

#twitch-embed {
    display: inline-block;
    width: 99%;
    height: 49%;
    border: 1px solid lightgrey;
}

#twitter-feed {
    display: block;
    width: 30%;
    height: 49%;
    float: left;
    padding-left: 4px;
}

#discord {
    display: block;
    width: 68%;
    height: 49%;
    float: right;
    padding-right: 8px;
}

